body{
    background-color: rgb(243, 242, 242);
}
#nav{
    width: 100%;
}
 #name{
     font-size: 20px;    
     font-weight: 700;
     padding-right: 1px;
 }
 
#body img{
    width: 90%;
    height: 50%;
}
#label{
    height: 220px;
    width: 80%;
}
#label div h1{
    font-size: 30px; 
} 

#service{
    width: 80%;
}
#service p{
    font-size: 12px;
}
#skills{
    width: 80%;
    padding-bottom: 40px;
}
#Resume{
    padding-top: 50px;
    width: 90%;
}
#Resume h1{
   text-align: center;
    font-size: 25px;
    padding: 10px;
    font-weight: 800;
}
#Resume h2{
    text-align: center;
    font-size: 15px;
    padding: 10px;
    font-weight: 700;
}
#award{
    width: 90%;
    padding: 1px;
}
#award div p{
    font-size: 15px;
    padding: 0px;
    font-weight: 600; 
}
#award div h3{
    font-size: 20px;
    padding: 0px;
    font-weight: 700;
}
#award div h4{
    font-size: 20px;
    padding: 0px;
    font-weight: 700;
}
#award div h5{
    font-size: 15px;
    padding: 0px;
    font-weight: 600;
}
#CVbutton{
     background-color: rgb(188, 188, 226);
    margin: 10px 20%;
    font-size: 15px;
}
#CVbutton:hover{
    background-color: white;
    font-weight: 800px;
    border: 2px solid black;
}

#Services{
    margin: 0px;
    padding: 40px 0px;
}
#Services h1, #Projects h1, #blog h1, #Contactways h1 {
    text-align: center;
    font-size: 37px;
    padding: 10px;
    font-weight: 700;
}
#Services p, #Projects p, #blog p,  #Contactways p{
    text-align: center;
    font-size: 15px;
    padding: 10px;
    font-weight: 700;
}

#works{
   margin:5px auto;
   padding: 15px 0px;
   width: 90%;   
}
#works img{
    width: 80%;
    align-items: center;
}

#Projects{
    width: 100%;
}
#Projects img{
    width: 100%;
    padding-bottom: 5px;
}

#blog{
    margin-top: 0 auto;
    width: 100%;
}
#blogpic{
   margin:20px 0px;
   padding: 5px 0px;
   width: 100%;    
}
#blogpic img{
    width: 90%;
    align-items: center;
}
#blogpic h5{
    font-size: 15px;
}
#achievement{
    width: 90%;
    margin: 0 auto;
}
#achievement h4, #achievement p{
    color: aliceblue;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
#hire{
    background-color: rgb(197, 217, 255);
    padding: 30px;
}
#hire h3{
    padding: 10px;
    font-weight: 700;
}

#hire button{
    border: 1px solid rgb(19, 18, 18);
    color: black;
    font-size: large;
    font-weight: 700;
    margin: 10px auto;

}
#hire button:hover{
    background-color: whitesmoke;
}

#Contact{
    padding: 0px;
    margin: 0px;
}

#Contact img{
   width: 100%;
   padding: 10px 0px 30px;
}
#form{
    border: 1px solid rgb(44, 44, 44);
    padding: 10px;
    width: 100%;
}
#Contactways{
    padding: 0px;
    width: 100%;
    margin: 30px 0px;
}
#ContactLines{
    width: 90%;
    margin: 0px auto;
    padding: 0px;
}
#ContactLines img{
    width: 90%;
    padding: 10px 0px 0px;
    height: 150px;
}
#part_3{
    width: 100%;
    margin: 10px 0px;
}
#part_3 div{
    background-color: rgb(212, 223, 245);
    padding-bottom: 5px;
}
#part_3 div h3{
    font-size: 25px;
    font-weight: 700;
    padding: 5px 10px;
}
#part_3 div p{
    font-size: 20px;
    font-weight: 500;
    padding: 0px 5px;
}
#Icons{
    width: 100%;
}
#Icons a img{
    width: 30%;
    padding: 5px 5px 20px;
}
 footer{
     font-size: 15px;
     text-align: center;
     font-weight: 700;
     padding: 15px 0px;
 }


 @media(min-width: 995px){
     #name{
     font-size: 35px;
     padding-right: 300px;
     font-weight: 700;
    }
    #nav{
        width: 100%;
    }

     #nav-list a{
     font-size: 40px; 
     padding-right: 20px; 
      font-weight: 700; 
 }
#nav-list a:hover{
    color: aliceblue;
    border-bottom: 2px white solid;
}


#menu{
    margin-left: -50px;
}
#body{
    height: 60%;
    display: inline-block;
}
#body img{
    width: 40%;
    height: 80%;
    margin-right: 50px;
}
#label{
    
    height: 320px;
    width: 55%;
    float: right;
    margin-top: 200px;
}

#label div h1{
    font-size: 50px;
}
#label div p{
    font-size: 30px;
} 
#label1{
    
    height: 450px;
    width: 50%;
    float: right;
    margin-top: 200px;
    border-radius: 20px;
}
#label1 div h1{
    font-size: 50px;
    text-align: center;
}
#label1 div p{
    padding-left: 30px;
    font-size: 20px;
} 
#body{
    padding-bottom: 100px;
}
#service{
    width: 30%;
}
#service p{
    font-size: 12px;
}
#skills{

    width: 80%;
    padding-bottom: 30px;
}
#skills h1, #skills h6{
    text-align: center;
}
#Resume{
    padding-top: 50px;
}
#Resume h1{
    text-align: center;
    font-size: 40px;
    padding: 10px;
    font-weight: 800;
}
#Resume h2{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    font-weight: 700;}

span #award{
    
    width: 80%;
    margin: 20px auto;
}
#award div p{
    font-size: 25px;
    padding: 5px;
    font-weight: 600; 
}
#award div h3{
    font-size: 30px;
    padding: 5px;
    font-weight: 700;
}
#award div h4{
    font-size: 30px;
    padding: 5px;
    font-weight: 700;
}
#award div h5{
    font-size: 25px;
    padding: 5px;
    font-weight: 600;
}
#CVbutton{
     background-color: rgb(188, 188, 226);
    margin: 10px 40%;
    font-size: 20px;
}
#CVbutton:hover{
    background-color: white;
    font-weight: 800px;
    border: 2px solid black;
}

#Services{
    margin: 0 auto;
}
#Services h1, #Projects h1, #blog h1{
    text-align: center;
    font-size: 40px;
    padding: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
#Services p, #Projects p, #blog p{
    text-align: center;    
    font-size: 20px;
    padding: 10px;
    font-weight: 700;
}

#works{
   margin:5px 10px;
   padding: 15px 0px;
   width: 30%;   
   display: inline-block;
}
#works img{
    width: 100%;
    height: 250px;
}

#Projects{
    width: 100%;
    display: inline-block;
    margin-left: 190px;
}
#Projects img{
    width: 32%;
    padding: 10px 10px;
    height: 400px;

}
#blog{    
    margin: 0 auto;
}

#blogpic{
   margin:40px 5px;
   padding: 5px 0px;
   width: 32%;    
   height: 450px;
   display: inline-flex;
}
#blogpic img{
    width: 90%;
}
#achieve{
    margin: 30px auto;
}
#achievement{
    width: 22%;    
    display: inline-block;
}
#achievement h4, #achievement p{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 25px 10px;
}
#hire{
    margin: 30px auto;
    padding: 30px;
}
#hire h3, #hire p{
    padding: 10px;
    font-weight: 700;
    text-align: center;
    font-size: 25px;
}

#hire button{
    font-size: 25px;
    margin: 10px 40%;
}

#Contact{
    padding: 0px;
    margin: 0px auto;
}

#maincon{
    width: 100%;
    display: inline-flex;
}
#Contact img{
   width: 40%;
   margin-right: 70px;
}
#money{
    border: 1px groove rgb(44, 44, 44);
    width: 55%;
    margin-top: 100px;
    padding: 10px;
    
    
}
#Contactways{
    padding: 0px;
    width: 100%;
    margin: 50px 0px;
}
#ContactLines{
    width: 23%;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}
#ContactLines img{
    width: 90%;
    padding: 10px 0px 0px;
    height: 150px;
}
#part_3{
    width: 100%;
    margin: 10px 0px;
    height: 150px;
}
#part_3 div{
    background-color: rgb(212, 223, 245);
    padding-bottom: 5px;
    display: inline-block;
    width:30%;
    /* height: 300px; */
    margin-right: 30px;
}
#part_3 div h3{
    font-size: 25px;
    font-weight: 700;
    padding: 5px 10px;
  
}
#part_3 div p{
    font-size: 20px;
    font-weight: 500;
    padding: 0px 5px;
    margin: 0px;
}
#Icons{
    width: 100%;
    display: inline-block;
    margin-top: 70px;
}
#Icons a img{
    width: 10%;
    padding: 5px 5px 20px;
}
 footer{
     font-size: 15px;
     text-align: center;
     font-weight: 700;
     padding: 20px 0px;
 }

 }

 /* @media(min-width: 480px) and (max-width:768px){
    #body{
        margin-top: 50px;
    }

#body img{
    width: 50%;
    height: 100%;
}
#label{
    height: 300px;
    width: 50%;
    float: right;
    margin-top: 150px;
}
#label div h1{
    font-size: 35px;
    letter-spacing: 1.5px;
}
#label div p{
    font-size: 20px;
}
 }
  */ */
